<div class="row question-tile">
  <div class="question-entry">
    {{#link-to 'post' post.id}}
      <h3>{{question.content}}</h3>
    {{/link-to}}
    <p>by <cite>{{question.author}}</cite></p>
  </div>
</div>
