.container-fluid {
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

body {
  font-weight: 300;
}

a, a:hover {
  text-decoration: none;
}

h1 {
  font-weight: 700;
}

.heading {
  font-weight: 400;
  color: rgb(185, 43, 39);
}

a h3 {
  color: #333333;
}

a:hover h3 {
  color: #777777;
}

button {
  background-color: rgb(185, 43, 39);
  font-weight: 400;
  color: #ffffff;
}

button:hover {
  background-color: #bd2d28;
  font-weight: 400;
  color: #fbebea;
}

.jumbotron {
  max-height: 20%;
  margin: 0 0 0 0;
}

header.jumbotron {
  padding-bottom: 2rem;
  margin-bottom: 5rem;
  background-color: rgb(185, 43, 39);
  color: #ffffff;
}

#header-container {
  text-align: center;
}

#header-container {
  /*display: inline-block;
  margin: 10rem;*/
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

span#nav-container, span#header-container, span#search-container {
  flex: 1 1 auto;
}

#nav-container h4 {
  color: #fbebea;
}

#nav-container h4 a {
  color: #edadab;
}

#nav-container h4 a:hover {
  color: #fbebea;
}

.main-container {
  text-align: left;
  margin: 0 10% 0 10%;
}

.question-tile {
  margin-left: 0;
}

.add-question h2, .all-questions h2 {
  margin-left: 0;
}

footer.jumbotron {
  text-align: center;
  margin-top: 5rem;
  background-color: #fbebea;
}

footer span {
  color: rgb(185, 43, 39);
}

footer a, footer a span {
  color: #e48481;
}

footer a:hover, footer a:hover span {
  color: rgb(185, 43, 39);
}
