<div class= "container-fluid">
  <header class= "jumbotron container-fluid">
    <div id="header-container">
      <div id="logo-container">
        <h1>DevOracle</h1>
      </div>
      <div id="nav-container">
        <h4><span>{{#link-to 'index'}}Home{{/link-to}}</span> | <span>Search</span></h4>
      </div>
    </div>
  </header>
  <div class="main-container">
    {{outlet}}
  </div>
  <hr>
  <footer class=jumbotron>
    {{#link-to 'index'}}Home{{/link-to}}
  </footer>
</div>
