<div class="add-question">
  <h2 class="heading">Ask A Question</h2>
  {{new-question saveQuestion="saveQuestion"}}
</div>

<div class="all-questions">
  <h2 class="heading">All Questions</h2>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</div>
