<div class="add-question">
  <h2>Ask A Question</h2>
  <!-- {*{new-question saveQuestion="saveQuestion"}} -->
</div>

<div class="all-questions">
  <h2>All Questions</h2>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</div>
