{{update-question question=model update="update"}}
{{question-detail question=model answer=model}}  <!-- needs destroyQuestion="destroyQuestion" destroyAnswer="destroyAnswer" -->

<!-- <h2>Add An Answer</h2>
{*{new-answer saveAnswer="saveAnswer" question=model}} -->
